header{ /* header réutilisable*/
  display: flex;
  background: rgb(83, 162, 131);
  justify-content: center;
  width: 100%;
}

h1{
  font-size: 4em;
  color: rgb(232, 230, 53);
  font-weight: bold;
  font-family: monospace;
  font-family: serif;
}

a{
  text-decoration: none;
}
