@font-face {
  font-family: "police1";
  src: url("../Polices/Rochester/Rochester-Regular.ttf");
}

@font-face {
  font-family: "police2";
  src: url("../Polices/Amita/Amita-Regular.ttf");
}

@font-face {
  font-family: "police3";
  src: url("../Polices/Niconne/Niconne-Regular.ttf");
}

@font-face {
  font-family: "police4";
  src: url("../Polices/Galada/Galada-Regular.ttf");
}

h2{
  font-size: 1.5rem;
  color: rgb(232, 230, 53);
}

h4{
  font-size: 1.7rem;
}

h5{
  font-size: 1.3rem;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0 auto;
  font-size: 16px;
}

#contener{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 824px;
}

main{
  display: flex;
  flex-direction: column;
  padding: 0px 0px 100px 0px;
}

.page{
  display: flex;
  width: 300px;
  height: 400px;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(99, 99, 99, 0.48);
}

#spanmenu1{
  font-weight: bold;
  padding-top: 20px;
}

#spanmenu2{
  font-weight: bold;
  color: rgb(226, 164, 103);
  padding-top: 20px;
}

#spanmenu3{
  font-weight: bold;
  padding-top: 20px;
}

#spanmenu4{
  font-weight: bold;
  color: rgb(113, 181, 101);
  padding-top: 20px;
}

#menu1{
  background-color: rgb(252, 223, 219);
}

#menu2{
  background-color: rgb(255, 245, 254);
}

#menu3{
  background-color: rgb(249, 249, 249);
}

#menu4{
  background-color: rgb(253, 255, 253);
}

.btnmenu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 800ms;
  cursor: pointer;
}

.btnmenu:hover{
  transform: scale(1.5);
}

#note{
  width: 30px;
  height: 30px;
}

#btnmenu1{
  font-family: "police1";
  color: rgb(76, 35, 40);
}

#btnmenu2{
  font-family: "police2";
  background: -webkit-linear-gradient(left, rgb(226, 164, 103) , rgb(169, 126, 253) 100%);
  color: rgba(255,255,255,0);
  -webkit-background-clip: text;
}

#btnmenu3{
  font-family: "police3";
  background: -webkit-linear-gradient(left, rgb(87, 126, 234) , rgb(73, 164, 249) 100%);
  color: rgba(255,255,255,0);
  -webkit-background-clip: text;
}

#btnmenu4{
  font-family: "police4";
  background: -webkit-linear-gradient(left, rgb(113, 181, 101) , rgb(195, 255, 135) 100%);
  color: rgba(255,255,255,0);
  -webkit-background-clip: text;
}

#soon{
  display: flex;
  justify-content: center;
}

#btnsoon{
  background-color: rgb(83, 162, 131);
  border-radius:10px;
  width: 300px;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#btnsoon:after {
  display: inline-block;
  animation: dotty steps(1,end) 2s infinite;
  content: '';
  color: rgb(232, 230, 53);
  font-size: 1.5em;
}

@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

@media (max-width: 599px){

  #fourpages{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  footer{
    width: 100%;
  }
}

@media (min-width: 600px){



  #fourpages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer{
    width: 824px;
  }
}
