@font-face { /*police du menu 1*/
  font-family: "police1";
  src: url("../Polices/Rochester/Rochester-Regular.ttf");
}

@font-face { /*police du menu 2*/
  font-family: "police2";
  src: url("../Polices/Amita/Amita-Regular.ttf");
}

@font-face { /* police du menu 3 */
  font-family: "police3";
  src: url("../Polices/Niconne/Niconne-Regular.ttf");
}

@font-face {
  font-family: "police4"; /* police du menu 4*/
  src: url("../Polices/Galada/Galada-Regular.ttf");
}

h2{ /* les titres des menus*/
  font-size: 1.7rem;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0 auto;
  font-size: 16px;
}

#contener{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 824px;
}

main{
  display: flex;
  flex-direction: column;
  padding: 0px 0px 100px 0px;
}

.page{ /* class pour chaque page menu de l'index*/
  display: flex;
  width: 300px;
  height: 400px;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(99, 99, 99, 0.48);
}

#menu1{ /* page du menu 1*/
  font-family: "police1";
  background: rgba(252, 223, 219,1);
  color: rgba(76, 35, 40,1)
}

#menu2{ /* page du menu 2*/
  background: rgba(255, 245, 254,1);
  font-family: "police2";
}

#menu3{ /* page du menu 3*/
  font-family: "police3";
  background: rgba(249, 249, 249,1);
}

#menu4{ /* page du menu 4 */
  font-family: "police4";
  background: rgba(253, 255, 253,1);
}

.btnmenu{ /* bouton qui zoom avec le titre du menu*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.btnmenu:hover{ /* animation du bouton qui zoom avec effet fondu*/
  transition-duration: 800ms;
  opacity: 0.5;
  transform: scale(1.4);
}

#note{ /* image note de musique*/
  width: 30px;
  height: 30px;
}

#titremenu1{ /* couleur du titre du menu2 */
  color: rgba(76, 35, 40,1);
}

#titremenu2{ /* gradient de couleur du titre du menu2 */
  font-size: 1.1rem;
  background: -webkit-linear-gradient(left, rgba(226, 164, 103,1) , rgba(169, 126, 253,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#titremenu3{ /* gradient de couleur du titre du menu3 */
  background: -webkit-linear-gradient(left, rgba(87, 126, 234,1) , rgba(73, 164, 249,1) 100%);
  color: rgba(255,255,255,0);
  -webkit-background-clip: text;
}

#titremenu4{ /* gradient de couleur du titre du menu4 */
  background: -webkit-linear-gradient(left, rgba(113, 181, 101,1) , rgba(195, 255, 135,1) 100%);
  color: rgba(255,255,255,0);
  -webkit-background-clip: text;
}

#spanmenu1{ /* "menu" sous le titre */
  font-weight: bold;
  padding-top: 20px;
}

#spanmenu2{ /* "menu" sous le titre */
  font-weight: bold;
  color: rgba(226, 164, 103,1);
  padding-top: 20px;
}

#spanmenu3{ /* "menu" sous le titre */
  font-weight: bold;
  padding-top: 20px;
  color: rgba(87, 126, 234,1);
}

#spanmenu4{ /* "menu" sous le titre */
  font-weight: bold;
  color: rgba(113, 181, 101,1);
  padding-top: 20px;
}

#soon{ /* section prochainement qui contien un bouton*/
  display: flex;
  justify-content: center;
}

#btnsoon{ /* bouton prochainement*/
  background: rgba(83, 162, 131,1);
  border-radius:10px;
  width: 300px;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#btnsoon:after { /* animation bouton prochainement*/
  display: inline-block;
  animation: dotty steps(1,end) 2s infinite;
  content: '';
  color: rgba(232, 230, 53,1);
  font-size: 1.5em;
}

@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

@media (max-width: 599px){

  #fourpages{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  footer{
    width: 100%;
  }
}

@media (min-width: 600px){



  #fourpages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer{
    width: 824px;
  }
}
