@font-face {
  font-family: "police1";
  src: url("../Polices/Rochester/Rochester-Regular.ttf");
}

body{
  background: rgb(252, 223, 219);
  color: rgb(76, 35, 40);
}

#note{
  width: 100px;
  height: 100px;
}

h2{ /* titre de la page*/
  font-family: "police1";
  font-size: 2em;
  margin-top: 0px;
  padding-left: 15px;
}

.texttitlemenu:after { /* animation soulignage*/
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: rgb(76, 35, 40);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.texttitlemenu:hover:after {
  width: 100%;
}

img{
  width: 30%;
}

li{
  font-family: cursive;
}

#bottompage{ /* image et titre en bas de page*/
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

#note2{
  width: 40px;
  height: 40px;
}

h5{
  font-family: "police1";
  font-size: 2em;
  margin-top: 0px;
  padding-left: 15px;
}
