body{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 824px;
}

#titre{
  text-align: center;
}

a:link {
 text-decoration:none;
}

@media (max-width: 599px){

  footer{
    width: 100%;
  }
}

@media (min-width: 600px){

  footer{
    width: 824px;
  }
}
