@font-face {
  font-family: "police1";
  src: url("../Polices/Rochester/Rochester-Regular.ttf");
}
h4{
  font-family: "police1";
  font-size: 3em;
  margin-top: 0px;
}

h2{
  font-family: "police1";
  font-size: 2em;
  margin-top: 0px;
  padding-left: 15px;
}

ul{
  list-style-type: none;
}

li{
  padding-bottom: 20px;
}

body{
  background-color: rgb(252, 223, 219);
  display: flex;
  margin: 0 auto;
  color: rgb(76, 35, 40);
}

#titre{
  text-align: center;
}

#bottompage{
  text-align: center;
  display: flex;
  justify-content: center;
}

.texttitlemenu{
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  height: 20px;
  display: inline-block;
  position: relative;

}
.texttitlemenu:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.texttitlemenu:hover:after {
  width: 100%;
}

#contener{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 824px;
}

#note{
  width: 100px;
  height: 100px;
}

#note2{
  width: 40px;
  height: 40px;
}

.titlemenu{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  align-items: center;
}

li{
  font-family: cursive;
}

.inmenu{
  display: flex;
  flex-direction: row;
}

.leftinmenu{
  flex: 5;
}

.rightinmenu{
  flex: 1;
}

header{
  display: flex;
  background-color: rgb(83, 162, 131);
  justify-content: center;
  width: 100%;
}

h1{
  font-size: 4em;
  color: rgb(232, 230, 53);
  font-weight: bold;
  font-family: monospace;
}

h3{
  font-size: 1.2em;
  color: rgb(232, 230, 53);
}

a:link {
 text-decoration:none;
}

footer{
  display: flex;
  background-color: rgb(83, 162, 131);
  bottom: 0;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 7px;
  justify-content: space-between;
  position: fixed;
  flex: 1;
  text-align: center;
}

.btnwiggle{
padding: 0px 20px 0px 20px;
cursor: pointer;
}

.btnwiggle:hover{
  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



@media (max-width: 599px){

  footer{
    width: 100%;
  }
}

@media (min-width: 600px){

  footer{
    width: 824px;
  }
}
