@font-face {
  font-family: "police1";
  src: url("../Polices/Amita/Amita-Regular.ttf");
}

h4{
  font-family: "police1";
  font-size: 3em;
  text-align: center;
  background: -webkit-linear-gradient(left, rgb(226, 164, 103) , rgb(169, 126, 253) 100%);
  color: transparent;
  -webkit-background-clip: text;
}

body{
  background-color: rgb(255, 245, 254);
}

img{
  width: 30%;
  height: 50px;
}

#titre1{
  margin-bottom: 10px;
}

#top{
  color: rgb(200, 121, 27);
}

#middle{
  color: rgb(165, 103, 153);
}

#bottom{
  color: rgb(122, 90, 208);
}
