body{
  display: flex;
  margin: 0 auto;
}

a:link {
 text-decoration:none;
}

#contener{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 824px;
}

#titre{
  text-align: center;
}

.texttitlemenu{ /*texte des titres entrées plats desserts*/
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  height: 20px;
  display: inline-block;
  position: relative;
  font-family: cursive;
}

img{ /*bordures de part et d'autre des titres */
  width: 30%;
}

.titlemenu{ /* section avec le titre des plats/entrées/desserts ainsi que les 2 images bordures de part et d'autre du titre*/
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: space-around;
}

ul{
  list-style-type: none;
  width: 100%;
}

li{
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}

.inmenu{ /* tout ce que contient le menu*/
  display: flex;
  flex-direction: row;
}

.leftinmenu{ /* description des plats*/
  flex: 4;
}

.rightinmenu{ /* prix */
  flex: 1;
  padding-left: 5%;
}

#bottom{
  margin-bottom: 60px;
}

@media (max-width: 599px){
  footer{
    width: 100%;
  }

  .texttitlemenu{
    padding-bottom: 30px;
  }
}

@media (min-width: 600px){
  footer{
    width: 824px;
  }
}
