@font-face {
  font-family: "police1";
  src: url("../Polices/Galada/Galada-Regular.ttf");
}

h4{
  font-family: "police1";
  font-size: 3em;
  margin-top: 0px;
  text-align: center;
  background: -webkit-linear-gradient(left, rgb(113, 181, 101) , rgb(195, 255, 135) 100%);
  color: transparent;
  -webkit-background-clip: text;
}

body{
  background-color: rgb(253, 255, 253);
}

img{
  width: 30%;
}

li{
  font-family: cursive;
}
