@font-face {
  font-family: "police1";
  src: url("../Polices/Niconne/Niconne-Regular.ttf");
}

h4{
  font-family: "police1";
  font-size: 3em;
  background: -webkit-linear-gradient(left, rgb(87, 126, 234) , rgb(73, 164, 249) 100%);
  color: transparent;
  -webkit-background-clip: text;
}

body{
  background-color: rgb(237, 239, 239);
}

.texttitlemenu:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: rgb(87, 126, 234);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.texttitlemenu:hover:after {
  width: 100%;
}

img{
  width: 30%;
}
