@font-face {
  font-family: "police1";
  src: url("../Polices/Niconne/Niconne-Regular.ttf");
}
h1{
  font-family: "police1";
  font-size: 3em;
}

h2{
  font-family: "police1";
  font-size: 2em;
}

ul{
  list-style-type: none;
}

li{
  padding-bottom: 20px;
}

body{
  background-color: rgb(237, 239, 239);
  display: flex;
  margin: 0 auto;
}

header{
  text-align: center;
}

footer{
  text-align: center;
}

#contener{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
}

.titlemenu{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
}

.texttitlemenu{
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}

.inmenu{
  display: flex;
  flex-direction: row;
}

.leftinmenu{
  flex: 5;
}

.rightinmenu{
  flex: 1;
}
