ul{
  list-style-type: none;
}

li{
  padding-bottom: 20px;
}

a:link {
 text-decoration:none;
}

body{
  display: flex;
  margin: 0 auto;
}

ul{
  list-style-type: none;
  width: 100%;
}

li{
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}

#titre{
  text-align: center;
}

.texttitlemenu{
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  height: 20px;
  display: inline-block;
  position: relative;
  width: 40%;
}

#contener{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 824px;
}

#note{
  width: 100px;
  height: 100px;
}

#note2{
  width: 40px;
  height: 40px;
}

.titlemenu{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  align-items: center;
  justify-content: space-around;
}

.inmenu{
  display: flex;
  flex-direction: row;
}

.leftinmenu{
  flex: 4;
}

.rightinmenu{
  flex: 1;
  padding-left: 5%;
}

#bottom{
  margin-bottom: 60px;
}

img{
  width: 30%;
}


@media (max-width: 599px){

  footer{
    width: 100%;
  }

  .texttitlemenu{
    padding-bottom: 30px;
  }
}

@media (min-width: 600px){

  footer{
    width: 824px;
  }
}
